body{
    background-color: rgb(16, 36, 36);
    margin: 0;
}

main,
header{
    color: white;
    text-align: center;
}

input,
label,
textarea{
    display: block;
    margin: 0 auto;
}

p{
    font-size: 15px;
    font-weight: normal;
}

span{
    background-color: mediumorchid;
}

label span{
    font-size: smaller;
    background-color: inherit;
}

input[type="text"]:read-only{
    color: black;
    font-weight: bold;
    border: 2px inset rgb(78, 78, 78);
    background-color: grey;
}

input:required{
    border: 2px outset rgb(255, 0, 0);
    border-left: 2px pink;
}

section, input[type="submit"]{
    margin-bottom: 15px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="checkbox"],
input[type="checkbox"] + label{
    display: inline;
    margin-top: 20px;
}

input:checked + label {
    color: rgb(38, 0, 255);
}

input[type="number"]:out-of-range,
input[required]:invalid {
    border: 3px outset red;
}

input[type="number"]:in-range,
input[required]:valid {
    border: 3px outset green;
}

input[type="submit"]{
    font-family: serif,'Times New Roman', Times, serif;
    color: white;
    background-color: green;
    border: 2px outset grey;
}

input[type="submit"]:hover{
    background-color: rgb(1, 65, 1);
    border: 2px outset grey;
}